body {
    margin: 0;
    background-color: #202020;
    color: white;
    overflow: hidden;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    outline: none;
    word-break: break-all;
}
.body {
    height: 100vh;
    width: 100vw;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 1vw;
}
.hflex {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 1vw;
}
.vflex {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    /* gap: 0.25vh; */
}
.bodyh {
    height: 92.5vh;
}
input, button {
    width: 21.75vw;
    height: 2.5vh;
    background-color: #181818;
    border: none;
    color: white;
    padding: 1vh 1vw 1vh 1vw;
    /* border-radius: 1em; */
    margin-top: 1vh;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5vh;
    cursor: pointer;
}

textarea {
    border: none;
    background-color: #181818;
    /* border-radius: 0.5em; */
    padding: 1vh 1vw 1vh 1vw;
    color: white;
    width: 40vw;
    font-size: 2vh;
}
textarea::placeholder {
    color: white;
}
input [type=number] {
    -moz-appearance: none !important;
    appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}